body{
  background-image: url("./assets/images/background.jpeg");
  background-size: cover;
}

p{
  margin: 5px 0;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.landingContainer {
  font-family: 'Open Sans', sans-serif;
  margin: 30px 300px;
  text-align: center;
}

.header{
  align-items: center;
}

.charImg{
  width: 150px;
}

.logoImg{
  width: 250px;
}

.button {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border-color: transparent;
  width: 250px;
  height: 60px;
}

.redButton{
  background-color: #f8393a;
  box-shadow: 0 3px #be1f20;
}

.blueButton{
  background-color: #007abe;
  box-shadow: 0 3px #085e8e;
}

.greenButton {
  background-color: #00a957;
  box-shadow: 0 3px #04763e;
}

.mainContent {
  margin: 50px 0;
}

.contextTextSpan{
  color:#f8393a;
  font-weight: 700;
}

.iconContainer{
  font-size: 12px;
  font-weight: 700;
  margin: 20px 0;
}
.icon{
  width: 45px;
}

.contentImg{
  width: 450px;
}

.footer {
  background-color: #32afd8;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
}

.footerTitle{
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
}

.advicesContainer{
  text-align: start;
}

.adviceItem{
  gap: 1px;
}

.footerIcon {
  margin: 0 5px;
}

.footerSubtitle{
  font-size: 14px;
}

.footerText{
  font-size: 10px;
}
